/*tipografía poppins*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.body{
    font-family: 'Poppins', sans-serif;
}


.header{ /*este esta bien, no borrar*/
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0%;
    background-color: #000000;
    

}


 .contenedorlogo{
    display: inline-block;
   /*background-color: rgb(221, 12, 12);*/
    width: 45%;
    height: 30%;
    padding-left: 5%;


}

.logo{
    display: inline-block;
    width: 10%;
   
}

.navegacion{
    display: inline-block;
    width: 50%;
    /*background-color: aqua;*/
    text-align: right;
    font-weight: 550;

}


.items{
    list-style: none;
    display: inline-block;
    padding-left: 15px;
}

.linknavegacion{
    text-decoration: none;
    color: white

}

.ContenedorTituloHeader{
    width: 50%;
    height: 30vh;
    margin: 0 auto;
    /*background-color: pink;*/
    text-align: center;
    margin-top: 80px;

}

.ContenedorTituloHeader h1{
    color: rgb(0, 0, 0);
    font-size: 50px;

}

.Secciones{
    text-align: center;
    display: inline-block;
    padding-top: 50px; /*espacio entre header y sección de cards*/
    

}

.card{
    width: 30%;
    text-align: center;
    display: inline-block;
    padding-bottom: 5%;
}

.card img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 5%;
}

.teesperamos h2{
    text-align: left;
    padding-left: 25%;
}

.teesperamos p{
    text-align: left;
    padding-left: 25%;
    
}


.infodecontacto{
    text-align: left;
    padding-left: 10%;
    
}



.linkredes{
    padding-left: 10%;

}

/*Estilados de página de contacto*/

.FormularioContacto{
    align-items: right;
    
    
    
}

.maindecontacto{
    
    padding-top: 50px;
    

}


      
    


/*Estilados de página TRABAJOS*/
.main-trabajos h1{
    text-align: center;
    padding-top: 50px;
}
.galeria{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.galeria-trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .imagen-galeria {
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
    overflow: hidden;
    background-color: brown;
  }
  
  .imagen-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

/*Estilados Nosotros*/

.main-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.sobre-nosotros{
    background: url(../assets/img/Corte.jpg) no-repeat left;
    background-size: 55%; 
    background-color: rgb(255, 255, 255);
    /*no se cómo hacer que la imágen llegue hasta el borde del header porque el contenedor ya ocupa el total*/
}

.contenedor-nosotros{
    width: 50%;
    float: right;
    background-color: rgb(255, 255, 255);
    padding: 150px;
    
}

.contenedor-nosotros h1{
    margin-bottom: 30px;
    font: color black;
}

.contenedor-nosotros p{
    margin-bottom: 30px;
}

.contenedor-nosotros h2{
    margin-bottom: 30px;
    font: color black;
    
}
.contenedor-nosotros li i{
    margin-right: 10px
}



/*Estilados de FOOTER*/

footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .footer-izquierda {
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
  .footer-izquierda img {
    height: 85px;
    margin-right: 10px;
    align-items: center;
  }
  
  .footer-datos i{
    padding-left: 20px;
    padding-right: 10px;
  }

  .footer-datos li{
    font-size: small;
  }

  .social-iconos {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .social-iconos li {
    margin-right: 50px;
  }
  
  
  .social-iconos a {
    color: #fff;
    font-size: 20px;
  }
  
  .footer-derecha {
    display: flex;
    align-items: center;
   
  }
  
  