/*Inicio: CONTACTANOS*/

.contactanos-inicio{
    padding-top: 50px;
    background-color: #000000;
}


.contactanos-inicio h2{
    text-align: center;
    color: #fff;

}

.contactanos-inicio p{
    text-align: center;
    
}

.redes-inicio{
    text-align: center;
    height: 100px;
    padding-top: 30px;

}
