
.trabajos-main{
    text-align: center;
    display: inline-block;
    padding-bottom: 50px;
    width: 100%;
    text-align: center; 
    .h1{
        padding-top: 50px; 
        padding-bottom: 30px;
        font-size: xx-large
    }
    .row{
        .seccion-trabajos-main{
            margin: auto !important;
            width: fit-content;
            align-items: center;
            .h2{
                font-size: medium;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 50px;
            }
            .img{
                object-fit: cover;
            }
        }

    }
    
    
}


