.nosotros-inicio{
    padding: 50px;
       
}


.nosotros-inicio h2{
    color:black;
    font-size: x-large;
    padding-top: 60px;
    text-align:left;
    padding-left: 50px;
    text-align: center;
}

.nosotros-inicio p{
    color: black;
    font-size: medium;
    text-align: justify;
    text-align: center;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 50px;
}
